<div class="container">
	<h1>Sign Up</h1>
		<%= form_for @user do |f| %>
		<p>
		<%= f.text_field :first_name, placeholder: "First Name" %>	
		</p>
		<p>
		<%= f.text_field :last_name, placeholder: "Last Name" %>	
		</p>
		<p>
		<%= f.text_field :user_name, placeholder: "Username" %>	
		</p>
		<p>
		<%= f.email_field :email, placeholder: "Email" %>	
		</p>
		<p>
		<%= f.password_field :password, placeholder: "Password" %>	
		</p>
		<p>
		<%= f.text_field :city, placeholder: "City" %>	
		</p>
		<p>
		<%= f.text_field :website, placeholder: "Website" %>	
		</p>
		<%= f.submit "Sign Up", class: "btn btn-primary" %>
		<% end %>
</div>